[submodule "InterpolationTechniques"]
	path = InterpolationTechniques
	url = https://github.com/Zahrabrhm/InterpolationTechniques.git
[submodule "1.InterpolationTechniques"]
	path = 1.InterpolationTechniques
	url = https://github.com/Zahrabrhm/1.InterpolationTechniques.git
[submodule "2.Image-Steganography-Techniques"]
	path = 2.Image-Steganography-Techniques
	url = https://github.com/Zahrabrhm/2.Image-Steganography-Techniques.git
[submodule "3.Simple-Hough-Transform"]
	path = 3.Simple-Hough-Transform
	url = https://github.com/Zahrabrhm/3.Simple-Hough-Transform.git
[submodule "4.Edge-Detection-Algorithms"]
	path = 4.Edge-Detection-Algorithms
	url = https://github.com/Zahrabrhm/4.Edge-Detection-Algorithms.git
